/* links */
a.external:link    {color:#AAAAFF; letter-spacing:0.3mm; text-decoration:none;}
a.external:visited {color:#AAAAFF; letter-spacing:0.3mm; text-decoration:none;}
a.external:hover   {color:#FFFFFF; letter-spacing:0.3mm; text-decoration:underline overline;}
a.external:active  {color:#AAAAFF; letter-spacing:0.3mm; text-decoration:none;}
a.lightlink:link    {color:#AAAAFF; text-decoration:none;}
a.lightlink:visited {color:#AAAAFF; text-decoration:none;}
a.lightlink:hover   {color:#FFFFFF; text-decoration:underline overline;}
a.lightlink:active  {color:#AAAAFF; text-decoration:none;}

body,table,td,span,div,textarea,p{
	color:#CCCCCC;
	font-family:Verdana,Tahoma,Arial,sans-serif;}
body{
	margin:0 0 0 1pt;
	background-color:#555566;
	padding: 3pt 3pt 0 0;}
table, td, th{
	background-color:#444455;
	border-width:1px;
	vertical-align:top;
	border-style:solid;
	border-color:#777777;
	padding: 4pt;}
table{
	margin:10pt 0 20pt 0;
	border-collapse:collapse;}
ul{
	margin-top:0;}
textarea,select {
	background-color:#555566;
	border-color:#cccccc;
	border-style:solid;
	color:#FFFFFF;
	font-family:Verdana,Tahoma,Arial,sans-serif;
	padding:1pt;}
select {
	border-style:none;
	padding:0pt;}
.urlinput{
	width:30em;}
.langinput{
	width:3em;}
.normalinput{
	background-color:#555566;
	border-color:#cccccc;
	border-style:solid;
	color:#FFFFFF;
	font-family:Verdana,Tahoma,Arial,sans-serif;
	padding:1pt;}
fieldset {
	background-color:#444455;
	border-color:#000000;}
.blackentry{
	color:#ff0000;}
.whiteentry{
	color:#00ff00;}
.foundentry{
	color:#ffff00;}
.log{
	color:#ffffff;}
.comment{
	color:#ffffff;}
.noentries{
	color:#cc9999;}
#lastupdate{
	color:#99aa99;}

/* border-width:1pt; crashes netscape 4 */
@media all {
	textarea,.normalinput,.urlinput,.langinput,select {
		border-width:1pt;}
}

/* schriften */
body,table,td {font-size:10pt;}
.xxsmall      {font-size:8pt; font-weight:normal;}
.xsmall       {font-size:9pt; font-weight:normal;}
.small, .smallbold, .smallitalic, .smallbright{font-size:10pt;}
.smallbold    {font-weight:bold;}
.smallitalic  {font-style:italic;}
.smallbright  {color:#ffffff;}
.medium, .mediumbold {font-size:11pt;}
.mediumbold   {font-weight:bold; text-align:right;}
.large        {font-size:13pt;}
.xlarge       {font-size:16pt;}
.xxlarge      {font-size:20pt;}
